<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/<%= mainCss %>" nonce="<%= nonce %>">
</head>
<body>
<div id="app"></div>
<script src="/<%= mainJs %>" nonce="<%= nonce %>"></script>
</body>
</html>
