<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/kx.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link nonce="<%= nonce %>" rel="stylesheet" href="/<%= cssFile %>">
    <script>
        window.env = {
            VITE_API_SERVER: '<%= apiServer %>'
        };
    </script>
</head>
<body>
<div id="app"></div>
<script nonce="<%= nonce %>" type="module" src="/<%= scriptFilename %>"></script>
</body>
</html>
